.main {
  .LinuxImg {
    height: 400px;
    background-image: url("/assets/img/archives/linux.webp");
    display: flex;
    align-items: flex-end;
    > div {
      padding: 0 0 20px 30%;
      color: #fff;
      > p:nth-child(1) {
        font-size: 36px;
        font-weight: 900;
      }
      > p:nth-child(2) {
        padding: 5px 0 0 25px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 20px;
        }
      }
    }
  }
  .main_body {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    > span:nth-child(1) {
      font-size: 26px;
      font-weight: 700;
    }
    > p:nth-child(2) {
      margin: 10px 0;
    }
    > p {
      line-height: 26px;
    }
    .Linux_release {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .VMware_WorkStation,
    .CentOS,
    .FinalShell {
      font-size: 26px;
      font-weight: 700;
      margin: 15px 0 5px;
    }
    .keng {
      color: red;
    }
    h3 {
      margin: 10px 0 5px;
    }
  }
}
